{
    "api_id": YOUR_API_ID,
    "api_hash": "YOUR_API_HASH",
    "source_channels": [
        // add channels like this
        "channel1",
        "channel2"
    ],
    "enable_sequential_forwarding": true,
    "sequence_direction": "asc",
    "dest_channel": "@me",
    "history_file": "history.txt",
    "forward_delay_sec": 10
}
