#ifdef CONFIG_LOAD
#define CONFIG_LOAD

#define POLL_INTERVAL   5   // seconds between chat-history polls
#define MSG_LIMIT       20  // messages to fetch per channel per poll

static const char *source_channels[] = {
    "@channelUsername1",
    "@channelUsername2",
    "@channelUsername3",
    // add your channels like that
};

#endif
